@import '~scss/globals';

app-today-work {
  .header {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px 15px;
    box-shadow: $box-shadow;

    .title {
      font-family: $text-font;
      display: flex;

      span { padding-right: 5px }

      .today-hour,
      .today-minute {
        width: 30px;
        text-align: center;
      }

      .time-spacer { padding: 0 5px; @extend .today-hour; width: auto; }
    }

    .actions {
      font-size: 15px;

      span {
        padding: 10px;
        border-radius: 3px;
        cursor: pointer;
      }

      .icon-plus { background-color: #4cd137; color: $header-bgcolor; }
    }
  }

  .work-container {
    margin-top: 20px;
    margin-left: 50px;

    .task {
      display: flex;
      align-items: baseline;
      box-shadow: $box-shadow;
      margin: 10px 0;
      position: relative;
      transition: all 0.3s;

      &.hidden {
        transform: translateY(-10px);
        opacity: 0;
      }

      .task-action {
        font-size: 15px;
        padding: 15px;
        border-radius: 50%;
        color: $header-bgcolor;
        margin: 0 10px 10px 0;
        cursor: pointer;
        z-index: 10;

        &.icon-checkmark  { background-color: #4cd137 }
        &.icon-cross      { background-color: #e84118 }
        &.icon-cog        { background-color: #273c75 }
        &.icon-home       { background-color: #0984e3 }
      }

      .task-name {
        margin: 0 15px;
        padding: 8px 0 8px 15px;
        border-left: 1px solid $side-menu-color;
        position: relative;
        z-index: 1;

        input,
        .input {
          font-size: 20px;
          font-family: $text-font;
          display: inline-block;
        }
        input { padding-left: 10px }

        .icon-plus {
          font-size: 10px;
          padding: 5px;
          border-radius: 3px;
          background-color: #4cd137;
          cursor: pointer;
          color: $header-bgcolor;
          margin-right: 10px;

          &.pause-first { background-color: #7f8fa6 }
        }

        .task-loader {
          position: absolute;
          top: 0; left: 5px;
          height: 100%;
          background-color: #c23616;
          transition: all 0.5s;
          z-index: -1;
        }
      }

      .task-hours,
      .task-minutes,
      .task-seconds {
        font-size: 15px;
        font-family: $text-font;
        width: 30px;
        text-align: center;
        z-index: 1;
      }

      .time-spacer { padding: 0 5px; @extend .task-hours; width: auto; }

      .task-mini-action {
        position: absolute;
        top: calc(50% - 5px);
        left: 7px;
        transform: translate(0%, -50%);
        transition: all 0.5s;
        font-size: 15px;
        padding: 8px;
        border-radius: 50%;
        cursor: pointer;
        color: $header-bgcolor;

        &.icon-cross { background-color: #e84118 }
        &.icon-eye-slash,
        &.icon-eye   { background-color: #40739e }

        &.icon-cross.open { top: -15px; left: -20px }
        &.icon-eye-slash.open,
        &.icon-eye  {             left: -40px }
      }
    }

    .sub-task {
      @extend .task;
      transition: all 0.3s;

      &.hidden { @extend .hidden }

      .sub-task-action {
        @extend .task-action;
        margin-left: 25px;
      }

      .sub-task-mini-action {
        @extend .task-mini-action;
        left: 33px;

        &.icon-cross,
        &.icon-pause2 .icon-meter2 { background-color: #e84118 }
        &.icon-play3,
        &.icon-checkmark           { background-color: #4cd137 }
        &.icon-pause2              { background-color: #fbc531 }
        &.icon-pencil              { background-color: #0097e6 }

        &.icon-cross.open  { top: -10px; left:   0px }
        &.icon-play3.open,
        &.icon-pause2      {             left: -20px }
        &.icon-pencil.open,
        &.icon-checkmark   { top:  55px; left:   0px }

        &.pause-first:not(.icon-pause2) { left: 33px; top: calc(50% - 5px); }

        &.icon-play3 .icon-meter2  { display: none }
        &.icon-pause2 .icon-meter2 { top: 50%; left: -35px }
      }

      .sub-task-name {
        @extend .task-name;

        .sub-task-loader {
          @extend .task-loader;
          background-color: #e1b12c;
        }
      }

      .sub-task-hours,
      .sub-task-minutes,
      .sub-task-seconds { @extend .task-hours; }

      .hours-controller,
      .minutes-controller {
        padding-left: 5px;
        z-index: 1;

        button {
          cursor: pointer;
          background-color: inherit;
          border: none;
          font-size: 15px;
          padding: 0;

          &:focus { outline: none }
        }
        .icon-chevron-up   { color: #4cd137 }
        .icon-chevron-down { color: #e84118 }
      }

      .sub-time-spacer { @extend .time-spacer; }
    }
  }
}