/* ---------------------------------- */
/* Variables
------------------------------------- */
$logo-font: 'Monoton', cursive;
$text-font: 'Audiowide', cursive;
$box-shadow: 0 2px 2px rgba(0,0,0,.05), 0 1px 0 rgba(0,0,0,.05);

$header-bgcolor: #edf1f2;
$header-border-color: #dee5e7;
$header-logo-color: #000;
$header-timer-color: #58666e;

$side-menu-bgcolor: #1c2b36;
$side-menu-color: #7793a7;